<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Implant Finder - Identify Implants</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='menu.png') }}" class="menu-icon" id="menu-button" alt="Menu Icon">
        <img src="{{ url_for('static', filename='th (9).jpg') }}" alt="Implant Finder Logo" class="logo">
        <h1 id="hehe">Implant Finder</h1>
    </header>
    <nav id="sidebar">
        <ul>
            <li><a href="{{ url_for('upload_and_predict') }}"><img src="{{ url_for('static', filename='home.png') }}" class="home-icon" alt="Home Icon"></a></li>
            <li><a href="{{ url_for('sign_in') }}"><img src="{{ url_for('static', filename='logout.png') }}" class="home-icon" alt="Logout Icon"></a></li>
        </ul>
    </nav>
    <main>
        <section class="form-section">
            <h2>Implants Identification</h2>
            <form id="upload-form" enctype="multipart/form-data" action="/" method="POST">
                <div class="input-container">
                    <label for="patient-id" class="input-label">Patient ID</label>
                    <input type="text" id="patient-id" class="input-field" name="patient-id">
                </div>
                <div class="input-container">
                    <label for="xray-upload" class="input-label">Select X-ray Image</label>
                    <input type="file" id="xray-upload" name="file" class="input-field">
                </div>
                <button type="submit" id="find-btn">Predict</button>
            </form>
        </section>
        <section class="result-section">
            <div id="result-box" class="result-box">
                <h2>Result</h2>
                <div id="prediction-result"></div>
            </div>
        </section>
    </main>
    <script src="{{ url_for('static', filename='renderer.js') }}"></script>
    <script src="{{ url_for('static', filename='sidebar.js') }}"></script>
</body>
</html>